h1.hero-h1{
  font-size: 90px;
}
.h2 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
p.hero-p{
  font-size: 50px;
}
body { 
    background-color: #1B1F24;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


.content-holder {
  display: flex;
  position: relative;
  background-image: url("../Images/Real\ Estate.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}

.overlay {
  background-color: #000000;    
  opacity: 0.6;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.content-wrapper {

  position: relative;;
  color: white;
  
  display: flex;
  flex-direction: row;
  margin-top: 20%; 
  padding-bottom: 50px; 
  
}

@media only screen and (max-width: 768px) {
  .hero-h4 {
    font-size: 1.2rem;
    letter-spacing: 10px;
  }
  .content-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .container {
    width: 100%;
  }
}
