.navbar-nav .nav-link {
    color: white;
  }
  .container {
    margin-top: 20%; 
    padding-bottom: 50px; 
  }
  h1{
    font-size: 56px;
  }
  div.card{
    background-color: #1B1F24;
    
    
  }
  h5.card-title, ul.card-list{
    color: white;
  }