body{ 
    background-color: #1B1F24;

}

.container {
    margin-top: 20%; 
    padding-bottom: 50px; 
  }
.container h1,
.container h2 {
        color: white; 
       
 }
h1{
  font-size: 56px;
  
}
  .navbar-nav .nav-link {
    color: white;
  }

  .form-select,
  .form-control {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
  }
  #divRowParks {
    display: flex;
    justify-content: flex-end;
  }

  #selectLocationType,
  #selectParkType {
    display: none;
   
  }
  .form-check-inline {
    display: inline-block;
   margin-left: 18%;
  color: white;
  }
  